---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  labels:
    app: my-app
spec:
  replicas: 2
  selector:
    matchLabels: 
      app: my-app
  template:  # from here pod related
    metadata:
      labels: 
        app: my-app
    spec:
      containers:
        - name: my-app
          image: princecharu/my-app:v1 
          ports:
            - containerPort: 8080  # port with which the app is containerized 
